<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Para cuando la app se conecte al backend real -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Validador: escaneo del código QR en el acceso (RF-15) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Ubicación: solo se pide al pulsar "Usar mi ubicación actual" (RNF-11); la app funciona sin ella (CP-18) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnZona">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EnZona">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
